
                    <div class="container" >
                        <div class="card mt">
                            <div class="card-header bg-warning">
                            <i class="fas fa-edit"></i>  ĐỔI MẬT KHẨU
                            </div>
                            <div class="card-body">
                                <form style="border:none" ng-controller="myctrl" name="myform">
                                    <div class="form-group col-12">
                                      <label for="formGroupExampleInput">MẬT KHẨU CŨ</label>
                                      <input type="text" ng-model="oldpass" required min-length="5" max-length="15" name="passold" class="form-control" id="formGroupExampleInput" placeholder="Nhập mật khẩu cũ!">
                                      <div ng-show="myform.passold.$invalid" style="color:red">Nhập lại mật khẩu cũ !</div>
                                    </div>
                                    <div class="form-group col-12" ng-show="show==1">
                                      <label for="formGroupExampleInput2">MẬT KHẨU MỚI</label>
                                      <input type="text"  min-length="5" max-length="15" class="form-control" ng-model="newpass"   id="formGroupExampleInput2" placeholder="Nhập mật khẩu mới !">
                                    </div>
                                    <!-- đaa -->
                                    <div class="form-group col-12" ng-show="show==1">
                                        <label for="formGroupExampleInput2">NHẬP lẠI MẬT KHẨU MỚI</label>
                                        <input type="text"  min-length="5" max-length="15" class="form-control" ng-model="matkhaumoi"   id="formGroupExampleInput2" placeholder="Nhập lại mật khẩu mới !">
                                    </div>
                                      <!-- ------ -->
                                    <div class="row">
                                    <button type="submit" class="btn btn-primary btn-lg ml-3 font-weight-bold" ng-click="luumatkhau()" >
                                        <i class="fa fa-save"></i> &nbsp;  Tìm  &nbsp;
                                    </button>
                                    <button type="submit" class="btn btn-warning btn-lg ml-3 font-weight-bold" ng-click="doimatkhau()">
                                        <i class="fas fa-window-close"></i> ĐỔI
                                    </button>
                                    </div>
                                </form>
                            </div>
                          </div>
                    </div>
               